PORT=3000
JWT_SECRET=your_jwt_secret
NODE_ENV=development
API_KEY=your_api_key
DB_HOST=
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
SSH_USERNAME=
SSH_HOST=
SSH_PRIVATE_KEY=
COHERE_MODEL=
COHERE_API_KEY=
COHERE_API_HOST=